@model ASP.NET_xmsz.Models.Person
@using PagedList.Mvc
@using Common
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    Experience exper = new Experience(Model.user.exp);
    int upgrade = exper.getRule[exper.level - 1];
    string levelc = new Number().NumberToChinese(exper.level);
    double percent = (double)exper.current / upgrade;
    string percentText = percent.ToString("0%");
}
<style>
    .person {
        margin-top: 70px;
    }

    .navbar-right {
        margin-right: 5px;
    }

    .navbar-header a {
        font-size: 30px;
    }

    .modal-dialog {
        padding-top: 120px;
        width: 350px;
    }

    .modal-content {
        width: 350px;
    }

    .person {
        width: 100%;
        height: 650px;
    }

    .person-top {
        height: 240px;
        margin: 10px;
        background-color: white;
    }

    .headportrait-left img {
        height: 140px;
        width: 140px;
        margin: 50px;
    }

    .headportrait-right {
        height: 100%;
    }

    .person-info span {
        margin: 10px;
    }

    .person-detail {
        margin-top: 20px;
    }

        .person-detail span {
            margin: 10px;
        }

    .person-bottom-left {
        margin: 10px;
        width: 70%;
        float: left;
        display: block;
    }

    .tab-pane {
        background-color: white;
        height: 300px;
        padding: 20px;
    }

    .person-bottom-right {
        width: 26%;
        height: 300px;
        margin: 10px;
        margin-top: 52px;
        float: right;
        background-color: white;
        display: block;
    }

    .level {
        margin: 30px;
    }

    .progress {
        margin-top: 20px;
    }

    .pagination-container {
        margin-top: -30px;
    }
</style>
<script type="text/javascript">
    $(function () {
        if(@ViewBag.own==true){
            $('.person-top').mouseover(function () {
                $('#editicon').removeClass('hidden');
            });
            $('.person-top').mouseleave(function () {
                $('#editicon').addClass('hidden');
            });
        }else{
            $('#myposttab').html("他的发帖");
            $('#myreplytab').html("他的回复");
            $('#myexp').html("他的经验值为");
            $('#myforumtab').remove();
            $('#myforum').remove();
        }
        $('#myTabs a').click(function (e) {
            e.preventDefault()
            $(this).tab('show')
        });
    });
</script>
<div class="person">
    <div class="person-top row">
        <div class="headportrait-left col-md-3">
            <img src="~/img/headportrait/@Model.user.headportrait" alt="未上传头像" class="img-thumbnail">
        </div>
        <div class="headportrait-right col-md-9">
            <div class="person-info">
                <div class="person-nickname">
                    <h2>@Model.user.username   <small><span class="label label-info">@levelc 级</span></small></h2>
                    <a id="editicon" class="hidden" href="Edit" style="color: #000000;position: absolute;top: 20px;right: 20px;font-size: 23px;"><span class="glyphicon glyphicon-edit"></span></a>
                </div>
                <div class="person-detail">
                    @if (Model.user.sex == 0)
                    {
                        <span class="info-sex">男</span>
                    }
                    else
                    {
                        <span class="info-sex">女</span>
                    }
                    <span>|</span>
                    @{
                        string re = new Biz.GetDistricts().showProvinceCtity(Model.user.districtId);
                        <span class="info-add">@re</span>
                    }
                    <span>|</span><span class="info-brith">@Html.FormatValue(Model.user.birthday, "{0:yyyy年MM月dd日}")</span>
                    <hr />
                    <p><strong>个人简介</strong></p>
                    <p>@Model.user.introduce</p>
                </div>
            </div>
        </div>
    </div>

    <div class="person-bottom">
        <div class="person-bottom-left">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active">
                    <a href="#mypost" id="myposttab" aria-controls="mypost" class="test" role="tab" data-toggle="tab">我的发帖</a>
                </li>
                <li role="presentation">
                    <a href="#myreply" id="myreplytab" aria-controls="myreply" class="test" role="tab" data-toggle="tab">我的回复</a>
                </li>
                <li role="presentation">
                    <a href="#myforum" id="myforumtab" aria-controls="messages" class="test" role="tab" data-toggle="tab">我的板块</a>
                </li>
            </ul>

            <!-- Tab panes -->
            <div class="tab-content">
                <div role="tabpanel" class="tab-pane active" id="mypost">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>标题</th>
                                <th>所属板块</th>
                                <th>时间</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.post)
                            {
                                <tr>
                                    <td>
                                        <a href="/Post/ShowPost?postid=@item.Id">
                                            @{string title = item.Title.Length > 10 ? item.Title.Substring(0, 10) + "..." : item.Title;}
                                            @title
                                        </a>
                                    </td>
                                    <td>
                                        <a href="/PostList/Index?forumsid=@item.Forums_Id">@item.Forums.ForumsTitle</a>
                                    </td>
                                    <td>@Html.FormatValue(item.CreateTime, "{0:yyyy年MM月dd日}")</td>
                                </tr>
                                                }
                        </tbody>
                    </table>
                    <div class="text-center">
                        @Html.PagedListPager(Model.post, postpage => Url.Action("Index", new { postpage }))
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="myreply">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>内容</th>
                                <th>时间</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.reply)
                            {
                                <tr>
                                    <td>
                                        <a href="/Post/ShowPost?postid=@item.Post_Id">
                                            @{string content = item.Content.Length > 10 ? item.Content.Substring(0, 10) + "..." : item.Content;}
                                            @content
                                        </a>
                                    </td>
                                    <td>@Html.FormatValue(item.ReplyTime, "{0:yyyy年MM月dd日}")</td>
                                </tr>

                                                }
                        </tbody>
                    </table>
                    <div class="text-center">
                        @Html.PagedListPager(Model.reply, replypage => Url.Action("Index", new { replypage }))
                    </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="myforum">
                    您还没有管理板块
                    <button class="btn btn-primary" style="float: right;">申请版主</button>
                </div>
            </div>
        </div>
        <div class="person-bottom-right text-center">
            <div class="level">
                <h4>
                    <span id="myexp">您的经验值为</span><small><span>@exper.current/@upgrade</span></small>
                </h4>
                <div class="progress">
                    <div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: @percentText;">
                    </div>
                </div>
                <h5 style="margin-top: 45px;">每日登陆 +10 exp</h5>
                <h5>发 帖 +20 exp</h5>
                <h5>回 复 +10 exp</h5><br />
                <h5>注：等级为7级时可申请版主</h5>
            </div>
        </div>
    </div>
</div>
